<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Spring Search</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body >
  
<div class="header" align="right"><img src="/img/spring.jpg" height="60px"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/">Application <span>Spring Boot</span></a></li>
      <li><a href="http://www.neogiciel.com" target="_blank">Company</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="p">
     <div class="txt">Test Search : Version 1.0</div>
      <center>
        <a href="/listepersonne" class="lien">>> liste Personne</a><br>
        <a href="/listepersonnenocache" class="lien">>> liste Personne No Cache</a><br>
        <a href="/listepersonneredis" class="lien">>> liste Personne Redis</a><br>
        <a href="/addpersonne" class="lien">>> Ajouter une Personne</a><br>
        <a href="/listeservice" class="lien">>> liste Service</a><br>
        <a href="/addservice" class="lien">>> Ajouter une Service</a><br>
        <a href="/listeservicepersonne" class="lien">>> liste ServicePersonne</a><br>
      </center>
    </div>
</div>
</body>
</html>


